<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <form class='form' action="{% url 'djangoapp:add_review' dealerId%}" method="post">
        <div class="container"> 
            {% csrf_token %}
            <h1>Add review</h1>
            <hr>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="id"><b>Id</b></label>
                <div class='col-sm-10'>
                    <input type="number" min='1' max='10000' class="form-control" placeholder="Enter Id: " name="id" required> 
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="name"><b>Name</b></label>
                <div class='col-sm-10'>
                    <input type="text" class="form-control" placeholder="Enter Name: " name="name" required>                        
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="review"><b>Review</b></label>
                <div class='col-sm-10'>
                    <textarea class="form-control" placeholder="Add review" rows="3" name="review" minlength="20" >

                    </textarea>                        
                </div>
            </div>

            <fieldset class="form-group">

            
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0"><b>Purchaced</b></legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="purchace" id="gridRadios1" value=1>
                            <label class="form-check-label" for="gridRadios1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="purchace" id="gridRadios2" value=0 checked>
                            <label class="form-check-label" for="gridRadios2">
                                No
                            </label>
                        </div>
                    
                    </div>
                </div>
            </fieldset>
            

                <!-- <label class="col-sm-2 col-form-label" for="purchace"><b>Password</b></label>
                <input type="radio" class="form-control" placeholder="Enter Password: " name="psw" required> 
                {% if message %}
            <div class="alert alert-warning"> 
                {{ message }}
            </div>
            {% endif %} -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="purchace_date"><b>Purchace Date</b></label>                
                <div class='col-sm-10'>
                    <input type="date" class='form-control' name='purchace_date'>        
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="car_make"><b>Car Make</b></label>
                <div class='col-sm-10'>
                    <input type="text" class='form-control' name='car_make' placeholder=''>    
                </div>
            </div>

                

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="car_model"><b>Car Model</b></label>
                <div class='col-sm-10'>
                    <input type="text" class='form-control' name='car_model'>    
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="car_year"><b>Car Year</b></label>
                <div class='col-sm-10'>
                    <input type="number" min='1900' max='2030' value='' class='form-control' name='car_year'>                        
                </div>
            </div>

                
                
            <div class="form-group row">

                <div class='col-sm-10'>
                    <button class="btn btn-primary" type="submit">Submit Review</button>
                        
                </div>
            </div>
                

        </div>
    </form>
    </body>
</html>